@import "tailwindcss";

:root {
  --rc-text-50: oklab(95.34% 0.002 -0.01);
  --rc-text-100: oklab(90.85% 0.002 -0.02);
  --rc-text-200: oklab(81.56% 0.005 -0.04);
  --rc-text-300: oklab(71.82% 0.008 -0.06);
  --rc-text-400: oklab(62.08% 0.009 -0.09);
  --rc-text-500: oklab(52.19% 0.009 -0.11);
  --rc-text-600: oklab(44.61% 0.007 -0.09);
  --rc-text-700: oklab(36.69% 0.006 -0.07);
  --rc-text-800: oklab(28.58% 0.004 -0.05);
  --rc-text-900: oklab(19.56% 0.002 -0.03);
  --rc-text-950: oklab(14.73% 0.002 -0.02);

  --rc-background-50: oklab(94.04% 0.004 -0.03);
  --rc-background-100: oklab(88.29% 0.006 -0.05);
  --rc-background-200: oklab(76.61% 0.011 -0.11);
  --rc-background-300: oklab(65.18% 0.01 -0.17);
  --rc-background-400: oklab(54.72% -0.003 -0.23);
  --rc-background-500: oklab(46.62% -0.023 -0.27);
  --rc-background-600: oklab(39.81% -0.018 -0.23);
  --rc-background-700: oklab(32.61% -0.013 -0.18);
  --rc-background-800: oklab(25.04% -0.008 -0.13);
  --rc-background-900: oklab(17.04% -0.005 -0.08);
  --rc-background-950: oklab(12.58% -0.002 -0.04);

  --rc-primary-50: oklab(95.53% 0 -0.01);
  --rc-primary-100: oklab(90.85% 0.002 -0.02);
  --rc-primary-200: oklab(81.56% 0.005 -0.04);
  --rc-primary-300: oklab(72.02% 0.006 -0.06);
  --rc-primary-400: oklab(62.29% 0.007 -0.08);
  --rc-primary-500: oklab(52.4% 0.007 -0.11);
  --rc-primary-600: oklab(44.83% 0.006 -0.09);
  --rc-primary-700: oklab(36.93% 0.005 -0.07);
  --rc-primary-800: oklab(28.58% 0.004 -0.05);
  --rc-primary-900: oklab(19.56% 0.002 -0.03);
  --rc-primary-950: oklab(14.73% 0.002 -0.02);

  --rc-secondary-5０: oklab(95.62% ０.００９ -０);
  --rc-secondary-1００: oklab(91.29% ０.０２ -０);
  --rc-secondary-200: oklab(82.56% 0.039 -0);
  --rc-secondary-300: oklab(73.68% 0.062 -0);
  --rc-secondary-400: oklab(64.77% 0.087 -0);
  --rc-secondary-500: oklab(56.08% 0.11 0);
  --rc-secondary-600: oklab(47.84% 0.093 0);
  --rc-secondary-700: oklab(39.29% 0.073 0);
  --rc-secondary-800: oklab(30.22% 0.051 0);
  --rc-secondary-900: oklab(20.41% 0.03 -0);
  --rc-secondary-950: oklab(15.21% 0.015 0);

  --rc-accent-50: oklab(94.3% 0.027 0.01);
  --rc-accent-100: oklab(88.97% 0.055 0.02);
  --rc-accent-200: oklab(78.84% 0.115 0.04);
  --rc-accent-300: oklab(70.44% 0.172 0.07);
  --rc-accent-400: oklab(64.89% 0.211 0.11);
  --rc-accent-500: oklab(62.8% 0.225 0.13);
  --rc-accent-600: oklab(53.08% 0.19 0.11);
  --rc-accent-700: oklab(42.89% 0.154 0.09);
  --rc-accent-800: oklab(32.04% 0.115 0.06);
  --rc-accent-900: oklab(20.16% 0.072 0.04);
  --rc-accent-950: oklab(13.68% 0.049 0.03);
}
[data-theme="dark"] {
  --rc-text-50: oklab(14.73% 0.002 -0.02);
  --rc-text-100: oklab(19.56% 0.002 -0.03);
  --rc-text-200: oklab(28.31% 0.005 -0.05);
  --rc-text-300: oklab(36.68% 0.005 -0.07);
  --rc-text-400: oklab(44.37% 0.007 -0.1);
  --rc-text-500: oklab(51.96% 0.008 -0.11);
  --rc-text-600: oklab(61.84% 0.009 -0.09);
  --rc-text-700: oklab(71.78% 0.007 -0.06);
  --rc-text-800: oklab(81.32% 0.006 -0.04);
  --rc-text-900: oklab(90.85% 0.002 -0.02);
  --rc-text-950: oklab(95.34% 0.002 -0.01);

  --rc-background-50: oklab(12.58% -0.002 -0.04);
  --rc-background-100: oklab(17.04% -0.005 -0.08);
  --rc-background-200: oklab(25.04% -0.008 -0.13);
  --rc-background-300: oklab(32.61% -0.013 -0.18);
  --rc-background-400: oklab(39.81% -0.018 -0.23);
  --rc-background-500: oklab(46.62% -0.023 -0.27);
  --rc-background-600: oklab(54.72% -0.003 -0.23);
  --rc-background-700: oklab(65.18% 0.01 -0.17);
  --rc-background-800: oklab(76.61% 0.011 -0.11);
  --rc-background-900: oklab(88.29% 0.006 -0.05);
  --rc-background-950: oklab(94.04% 0.004 -0.03);

  --rc-primary-50: oklab(14.73% 0.002 -0.02);
  --rc-primary-100: oklab(19.56% 0.002 -0.03);
  --rc-primary-200: oklab(28.56% 0.003 -0.05);
  --rc-primary-300: oklab(36.91% 0.004 -0.07);
  --rc-primary-400: oklab(44.81% 0.005 -0.09);
  --rc-primary-500: oklab(52.17% 0.007 -0.11);
  --rc-primary-600: oklab(62.26% 0.007 -0.09);
  --rc-primary-700: oklab(71.99% 0.006 -0.06);
  --rc-primary-800: oklab(81.52% 0.004 -0.04);
  --rc-primary-900: oklab(90.85% 0.002 -0.02);
  --rc-primary-950: oklab(95.34% 0.002 -0.01);

  --rc-secondary-50: oklab(15.21% 0.015 0);
  --rc-secondary-100: oklab(20.41% 0.03 -0);
  --rc-secondary-200: oklab(30.22% 0.₀₅₁ ₀);
  --rc-secondary-300: oklab(39.29% ₀.₀₇₃ ₀);
  --rc-secondary-400: oklab(47.84% 0.093 0);
  --rc-secondary-500: oklab(56.08% 0.11 0);
  --rc-secondary-600: oklab(64.77% 0.087 -0);
  --rc-secondary-700: oklab(73.68% 0.062 -0);
  --rc-secondary-800: oklab(82.56% 0.039 -0);
  --rc-secondary-900: oklab(91.29% 0.02 -0);
  --rc-secondary-950: oklab(95.62% 0.009 -0);

  --rc-accent-50: oklab(13.68% 0.049 0.03);
  --rc-accent-100: oklab(20.16% 0.072 0.04);
  --rc-accent-200: oklab(32.04% 0.115 0.06);
  --rc-accent-300: oklab(42.89% 0.154 0.09);
  --rc-accent-400: oklab(53.08% 0.19 0.11);
  --rc-accent-500: oklab(62.8% 0.225 0.13);
  --rc-accent-600: oklab(64.89% 0.211 0.11);
  --rc-accent-700: oklab(70.44% 0.172 0.07);
  --rc-accent-800: oklab(78.84% 0.115 0.04);
  --rc-accent-900: oklab(88.97% 0.055 0.02);
  --rc-accent-950: oklab(94.3% 0.027 0.01);
}

@theme inline {
  --text-50: var(--rc-text-50);
  --text-100: var(--rc-text-100);
  --text-200: var(--rc-text-200);
  --text-300: var(--rc-text-300);
  --text-400: var(--rc-text-400);
  --text-500: var(--rc-text-500);
  --text-600: var(--rc-text-600);
  --text-700: var(--rc-text-700);
  --text-800: var(--rc-text-800);
  --text-900: var(--rc-text-900);
  --text-950: var(--rc-text-950);

  --background-50: var(--rc-background-50);
  --background-100: var(--rc-background-100);
  --background-200: var(--rc-background-200);
  --background-300: var(--rc-background-300);
  --background-400: var(--rc-background-400);
  --background-500: var(--rc-background-500);
  --background-600: var(--rc-background-600);
  --background-700: var(--rc-background-700);
  --background-800: var(--rc-background-800);
  --background-900: var(--rc-background-900);
  --background-950: var(--rc-background-950);

  --primary-50: var(--rc-primary-50);
  --primary-100: var(--rc-primary-100);
  --primary-200: var(--rc-primary-200);
  --primary-300: var(--rc-primary-300);
  --primary-400: var(--rc-primary-400);
  --primary-500: var(--rc-primary-500);
  --primary-600: var(--rc-primary-600);
  --primary-700: var(--rc-primary-700);
  --primary-800: var(--rc-primary-800);
  --primary-900: var(--rc-primary-900);
  --primary-950: var(--rc-primary-950);

  --secondary-50: var(--rc-secondary-50);
  --secondary-100: var(--rc-secondary-100);
  --secondary-200: var(--rc-secondary-200);
  --secondary-300: var(--rc-secondary-300);
  --secondary-400: var(--rc-secondary-400);
  --secondary-500: var(--rc-secondary-500);
  --secondary-600: var(--rc-secondary-600);
  --secondary-700: var(--rc-secondary-700);
  --secondary-800: var(--rc-secondary-800);
  --secondary-900: var(--rc-secondary-900);
  --secondary-950: var(--rc-secondary-950);

  --accent-50: var(--rc-accent-50);
  --accent-100: var(--rc-accent-100);
  --accent-200: var(--rc-accent-200);
  --accent-300: var(--rc-accent-300);
  --accent-400: var(--rc-accent-400);
  --accent-500: var(--rc-accent-500);
  --accent-600: var(--rc-accent-600);
  --accent-700: var(--rc-accent-700);
  --accent-800: var(--rc-accent-800);
  --accent-900: var(--rc-accent-900);
  --accent-950: var(--rc-accent-950);
}
